<form action="#" id="new-event-form">
  <div class="form-group">
    <label for="">Summary *</label>
    <input type="text" class="form-control" placeholder="Summary" id="summary">
  </div>

  <div class="form-group">
    <label for="">Detail / Steps to Reproduce</label>
    <div class="form-control editor" id="detail"></div>
  </div>

  <div class="form-group">
    <label for="">Category</label>
    <select class="form-control" id="type">
      <% _.each(types, function(type, val) { %>
        <option value="<%= val %>"><%= type %></option>
      <% }); %>
    </select>
  </div>

  <div class="form-group">
    <label for="">Priority</label>
    <select class="form-control" id="priority">
      <% _.each(priorities, function(type, val) { %>
        <option value="<%= val %>"><%= type %></option>
      <% }); %>
    </select>
  </div>

  <button type="submit" class="btn btn-primary btn-lg" id="add-button">
    <span class="glyphicon glyphicon-plus-sign"></span>
    Add Event
  </button>
</form>

<script>
  $(function() {
    $('.editor').wysihtml5({
      toolbar: {
        "font-styles": false,
        "emphasis": true,
        "lists": true,
        "html": false,
        "link": true,
        "image": false,
        "color": false,
        "blockquote": false,
        "size": "sm"
      }
    });
  });
</script>