<form action="#" id="event-edit-form">
	<div class="alert alert-info">
		Event ID: <b><%= _id %></b>
	</div>
	<div class="form-group">
		<label for="">Summary *</label>
		<input type="text" class="form-control"
			placeholder="Summary" id="summary" value="<% summary %>">
	</div>

	<div class="form-group">
		<label for="">Detail Description</label>
		<div class="form-control editor"
			placeholder="Detail Description" id="detail">
			<%= eventDescription %>
		</div>
	</div>

	<button type="submit" class="btn btn-primary btn-lg" id="update-event">
		<span class="glyphicon glyphicon-edit"></span>
		Update
	</button>
	<button class="btn btn-link" id="close-edit">Cancel</button>

	<script>
		$(function() {
			$('.editor').wysihtml5({
				toolbar: {
					"font-styles" : false,
					"emphasis" : true,
					"lists": true,
					"html": false,
					"link": true,
					"image": false,
					"color": false,
					"blockquote": false,
					"size": "sm"
				}
			});
		});
	</script>
</form>