<td><%= index %></td>
<td>
	<% if(status == 4) { %>
		<a href="#" data-id="<%= _id %>" class="event-eventName">
			<del><%= eventName %></del>
		</a>
	<% } else { %>
		<a href="#" data-id="<% _id %>" class="event-eventName">
			<%= eventName %>
		</a>
	<% } %>
</td>
<td data-order="<%= type %>">
	<% if(type == 0) { %>
		<span class="glyphicon glyphicon-fire"></span>
	<% } else if(type == 1) { %>
		<span class="glyphicon glyphicon-heart-empty"></span>
	<% } else { %>
		<span class="glyphicon glyphicon-asterisk"></span>
	<% } %>
	<%= typeLabel %>
</td>
<td><%= startDate %></td>
<td><%= endDate  %></td>
<td data-order="<%= status %>">
	<% if(status == 0) { %>
		<span class="label label-danger"><%= statusLabel %></span>
	<% } else if(status == 1) { %>
		<span class="label label-warning"><%= statusLabel %></span>
	<% } else if(status == 2) { %>
		<span class="label label-info"><%= statusLabel %></span>
	<% } else if(status == 3) { %>
		<span class="label label-success"><%= statusLabel %></span>
	<% } else if(status == 4) { %>
		<span class="label label-default"><%= statusLabel %></span>
	<% } %>
</td>